@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:radial-gradient(#282c34, #282c34);
}

h1{
    background-image: linear-gradient(to right, orange 50%, orange 800);
    background-clip: text;
    text-fill-color: transparent; /* Replaces text-transparent for modern browsers */
      
}
